<h1 style="text-align: center">CitiBike Data</h1>
<div style="margin: 0 auto; width: 50%">
<h2> CitiBike Bikes in New York City, Live-Updated</h2>
<form action="/">
    <input type="submit" value="Back to Home" />
</form>
<br>
    <p><b>Number of Available Bikes: </b>{{ sumAvailable }} </p>
    <p><b>Number of Available Economic Bikes: </b>{{ sumEAvailable }}</p>
    <p><b>Number of Disabled Bikes: </b>{{ sumDisabled }}</p>
    <p><b>Number of Available Docs: </b>{{ sumDocsAvailable }}</p>
    <p><b>Number of Disabled Docs: </b>{{ sumDocsDisabled }}</p>
    <p><b>Number of Total Stations: </b>{{ sumStationsInstalled }}</p>
</div>